<div class="crown">
<!--
boardlist
-->
	<!--
	<span class="sub" data-description="0">
		[ <a href="/"><i class="fa fa-home" title="Home"></i></a>
		/ <a href="/boards.html"><i class="fa fa-tags" title="Boards"></i></a>
		/ <a href="/faq.html"><i class="fa fa-question" title="FAQ"></i></a>
		/ <a href="/random.php"><i class="fa fa-random" title="Random"></i></a>
		/ <a href="/create.php"><i class="fa fa-plus" title="New board"></i></a>
		/ <a href="/bans.html"><i class="fa fa-ban" title="Public ban list"></i></a>
		/ <a href="/search.php"><i class="fa fa-search" title="Search"></i></a>
		/ <a href="/mod.php"><i class="fa fa-cog" title="Manage board"></i></a>
		/ <a href="https://qchat.rizon.net/?channels=#8chan"><i class="fa fa-quote-right" title="Chat"></i></a> ]
	</span>
	<span class="sub" data-description="1">
		[ <a href="/b/index.html" title="Random">b</a>
		/ <a href="/meta/index.html" title="∞chan Support">meta</a>
		]
	</span>
		<span class="sub" data-description="2">
		[
		<a href="https://twitter.com/infinitechan"><i class="fa fa-twitter" title="Twitter"></i></a>
		]
	</span>
	-->
	<span class="sub" data-description="3">
		[
		<a href="/#/b">b</a>
		/ <a href="/#/tech">tech</a>
		/ <a href="/#/music">music</a>
		/ <a href="/#/video">video</a>
		/ <a href="/#/boatdev">boatdev</a>
		/ <a href="/#/boatfetish">boatfetish</a>
		/ <a href="/#/furry">furry</a>
		/ <a href="/#/pone">pone</a>
		]
	</span>

	<div style="float: right;">

		<span ng-if="viewmode=='thread'" ng-controller="ThreadUpdater" ng-init="start_update_timer()" style="inherit">
			[<a class="clickable" id="update_thread" ng-click="resetTimer()">Update</a>] <!--(<input id="auto_update_status" checked="" type="checkbox"> Auto) --><span id="update_secs">{{blood_1}}</span>
		</span>

		<i ng-init="expand_all=false" ng-click="expand_all=!expand_all" class="clickable icon ion-arrow-resize" id="expand-all-images" ng-hide="viewmode=='catalog'"></i>



		<i class="icon ion-star" style="color:grey"></i>

		<a ng-href="{{(viewmode=='catalog') ? '/#/' : '/#/catalog'}}">
		<i ng-class="'clickable icon ' + ((viewmode=='catalog') ? 'ion-navicon' : 'ion-grid')"></i>
		</a>
		
		<a ng-click="gotoHash('footer_position')">
			<i id="ctrl-jump-bottom" class="clickable icon ion-arrow-down-a"></i></a>

		<i ng-click="gotoHash('header_position')" style="text-align: center; margin-left:auto; margin-right:auto;" id="ctrl-jump-top" class="clickable icon ion-arrow-up-a"></i>

		<div ng-show="show_options">
			[<a title="Options" style="color:grey" ng-click="toggle_options()">Options</a>]
		</div>
		
	</div>
	<span class="favorite-boards"></span>
	<span>
	[
	<a class="watchlist-toggle" style="color:grey">watchlist</a>
	]
	</span>
</div>
