
<p class="intro" id="op_{{thread.op.true_id}}">

	<a ng-if="viewmode=='board'" class="hide-link clickable" ng-click="thread.nodehidden = !thread.nodehidden"><i ng-class="'icon '+(thread.nodehidden ? 'ion-plus-circled' : 'ion-minus-circled')"></i></a>
	<!--
	<input type="checkbox" class="delete" name="delete_{{thread.op.true_id}}" id="delete_{{thread.op.true_id}}">
	<label for="delete_{{thread.op.true_id}}">
	</label>
	-->
	<span class="subject">{{thread.op.subject}}</span> -
	<span class="name">{{(thread.op.name) ? thread.op.name : "Anonymous"}}</span>
	&nbsp;
	<time datetime="{{thread.op.date}}" data-local="true">{{ thread.op.date | date : 'yy/M/d'}} <i class="icon ion-minus-round"></i> {{ thread.op.date | date : 'h:mm a'}}</time>
	<i class="icon ion-minus-round"></i>
	<a class="post_no clickable" ng-click="set_location_thread(thread.op.true_id)"> Thread #{{thread.op.true_id}}</a>
	<i class="icon ion-quote"></i>
	<!-- add to the above tag:
	<a class="post_no" id="post_no_{{thread.op.true_id}}" href="/#/?t={{thread.op.true_id}}">No.</a>

	onclick="highlightReply({{thread.op.true_id}})" 
	TODO: make 'quote' work properly-->

</p>


<div class="post op post_anchor" ng-hide="thread.nodehidden">

	<div class="files" ng-if="thread.op.files.length >= 0">
		<nodechan-file ng-repeat="file in thread.op.files" ng-init="op_post=true"></nodechan-file>
	</div>
	<div class="body" ng-bind-html="parse_post_body(thread.op.true_id, thread.op.body)"></div>
	<div class="post_modified"></div>
	<br>
	<a class="clickable" ng-click="set_location_thread(thread.op.true_id)" ng-if="viewmode=='board'"><span ng-if="thread.op.total_replies > preview_reply_num">{{thread.op.total_replies - preview_reply_num}} hidden replies - </span>View Thread <i class="icon ion-chatboxes"></i></a>
</div>
