
<!-- Viewmode if we're browsing a single thread -->
<div class="thread" ng-if="$scope.viewmode=='thread'">
	<!-- TODO::^Riskyyyyyy -->
	<a id="{{thread._id}}" class="post_anchor"></a>
	<post-op></post-op>
	
	<post-reply ng-repeat="post in thread.posts"></post-reply>

	<reply-form></reply-form>
</div>


<!-- Viewmode if we're browsing the whole board regularly -->
<div class="thread" ng-if="$scope.viewmode=='board'" id="thread_{{thread.id}}" data-board="{{board.id}}">
	<!-- TODO::^Riskyyyyyy -->
	<a class="hide-link" ng-click="thread.nodehidden = !thread.nodehidden">[{{thread.nodehidden ? "+" : "-"}}]</a>
	<div ng-hide="thread.nodehidden">
		<a id="{{thread._id}}" class="post_anchor"></a>
		<post-op></post-op>

		<post-reply ng-repeat="post in thread.posts"></post-reply>
	</div>
</div>
<hr ng-if="$scope.viewmode=='board'">


<!-- Viewmode if we're browsing the board catalog -->
<div class="mix theme-catalog" ng-if="$scope.viewmode=='catalog'" data-reply="{{thread.op.replies}}" data-bump="1416788920" data-time="1414297858">
	<div class="thread grid-li grid-size-small">
		<a href="thread.html?t={{thread.op._id}}">
			<img src="{{thread.op.files[0].link}}" data-subject="{{thread.subject}}" data-name="{{thread.op.name}}" data-muhdifference="" data-last-reply="" data-last-subject="" data-last-name="" data-last-difference="" class="{{board._id}} thread-image" title="{{thread.op.date}}">
			<!--
			<img src="https://media.8chan.co/{{board._id}}/thumb/1414297858386.png" id="img-{{thread.files[0].link}}" data-subject="Post your Chinkpad" data-name="Anonymous" data-muhdifference="" data-last-reply="" data-last-subject="" data-last-name="" data-last-difference="" class="{{board._id}} thread-image" title="Nov 24 00:28">
			-->
		</a>
		<div class="replies">
			<strong>R: {{thread.op.replies}} / I: {{thread.op.files.length}}</strong>
				<!-- TODO:dtad: The above should eventually say 'F' instead, for files, perhaps -->
			<p class="intro">
				<span class="subject">{{thread.op.subject}}</span>
			</p>
			Post your chinkpads. Dell Latitudes are welcome too. All other laptops can gtfo.
			<br>
			<span class="quote"><br>&gt; Thinkpad T60 running Arch</span><br>
			<span class="quote">&gt; Intel Core Duo T2400 @ 1.83 GHz</span><br>
			<span class="quote">&gt; 2GB Memory</span><br>
			<span class="quote">&gt; Intel 945G</span><br>
			<span class="quote">&gt; 64GB Crucial m4</span>
		</div>
	</div>
</div>
