
<div>

	<div ng-hide="page_jquery.d!='true'">
		<p>archived is {{archived}}, viewmode is {{viewmode}}, curpath is {{curpath}}</p>
		<p>expand_all is {{expand_all}}</p>
		<p>{{page_location}}</p>
		<p>{{live_host}}</p>
		<p>{{page_host}}</p>
		<p id="jquer">{{page_jquery}}</p>
		<p>{{page_hash}}</p>
		<p>{{viewmode}}</p>
	</div>

</div>


<!-- Viewmode if we're browsing a single thread -->
<div style="opacity:0" ng-style="{'opacity':(done_loading ? '1' : '0')}" class="thread loadable" ng-init="thread = threads[0]">
	<!-- TODO::^Riskyyyyyy -->
	<a id="{{thread.op.true_id}}" class="post_anchor"></a>
	<post-op></post-op>

	<post-reply on-finish-render ng-if="thread.posts != []" ng-repeat="post in thread.posts"></post-reply>

	<hr>
</div>


