
<!-- Viewmode if we're browsing the whole board regularly -->
<div>

	<reply-form></reply-form>

	<div class="thread" data-board="{{board_id}}" id="thread_{{thread.op.true_id}}" ng-repeat-start="thread in threads">
		<!-- TODO::^Riskyyyyyy 
		ng-init="load_thread_preview(thread.op.true_id)"
		-->
		<a class="hide-link" ng-click="thread.nodehidden = !thread.nodehidden">[{{thread.nodehidden ? "+" : "-"}}]</a>
		<div ng-hide="thread.nodehidden">
			<a id="{{thread.op.true_id}}" class="post_anchor"></a>
			<post-op></post-op>

			<post-reply ng-if="thread.posts != []" ng-repeat="post in thread.posts"></post-reply>
		</div>
	</div>
	<hr ng-repeat-end>
	<!--
		<mod-footer></mod-footer>
	-->

</div>