
<div class="post reply" ng-init="post.nodehidden = false">
	<!-- op post should be different, as per convention, with class "post op" -->
	<p class="intro">
		<a id="{{post.true_id}}" class="post_anchor"></a>
		<!--
		<input type="checkbox" class="delete" name="delete_{{post.true_id}}" id="delete_{{post.true_id}}">
		-->
		<a class="hide-link clickable" ng-click="post.nodehidden = !post.nodehidden">[{{post.nodehidden ? "+" : "-"}}]</a>

		<label for="delete_{{post.true_id}}">
			<a class="email" href="mailto:{{post.email}}">
				<span class="name">{{post.name}}</span>
			</a>
			&nbsp;
			<time datetime="{{post.date}}" data-local="true">{{ post.date | date : format : timezone}}</time>
		</label>
		&nbsp;
		<a class="post_no" id="post_no_{{post.true_id}}" ng-click="set_location('/'+thread.op.true_id+'#post_no_'+post.true_id)">
		<!--
		<a class="post_no" id="post_no_{{post.true_id}}" ng-href="'/#'+{{post.true_id}}+'/?t='+{{thread.true_id}}">

		add to the above
		onclick="highlightReply({{post.true_id}})"
		-->
			No.
		</a>
		<a class="post_no">{{post.true_id}}</a>
		<!-- 
		later, can add
		onclick="citeReply({{post.true_id}})" 
		to the above, also TODO:: fix the quote mechanic
		href="/{{board.true_id}}/res/{{thread.true_id}}.html#q{{post.true_id}}"

		<span class="mentioned unimportant"><a class="mentioned-50397" onclick="highlightReply('50397');" href="#50397">&gt;&gt;50397</a><a class="mentioned-50424" onclick="highlightReply('50424');" href="#50424">&gt;&gt;50424</a></span>
		-->
	</p>
	<!--
	-->
	<div ng-hide="post.nodehidden">
		<div class="files" ng-if="post.files.length > 0">
			<nodechan-file ng-repeat="file in post.files"></nodechan-file>
		</div>
		<p class="body">{{post.body}}</p>
	</div>
	<div class="post_modified"></div>
</div>
<br>
