
<div style="right: 10px; bottom: 0px; position: fixed; background: #272727;" ng-init="post_form={'files':[''], 'name':get_cookie_name()}" class="loadable" ng-style="{'opacity':(done_loading ? '1' : '0')}" ng-if="!static_page">

	<form name="post_form_tag" style="display: inline-block; margin-bottom: 20px;" ng-submit="submitData(post_form, sub_result)" ng-hide="post_form.nodehidden">
		<h2 style="text-align: center">New {{(viewmode=='thread') ? 'Reply' : 'Thread'}}</h2>
		<!--
		onsubmit="return dopost(this);"
		enctype="multipart/form-data"
		action="/json/post_op" method="post"
		<input type="hidden" name="thread" value="50388">
		<input type="hidden" value="" name="login">
		<input type="hidden" name="board" value="tech">
		<input style="display:none" type="text" name="text" value="☡?V^]* E3♘Smo%rp\-W2/7k|nL}g.tY@b">
		-->
		<div style="margin:0; padding:0; width=98%">
		</div>
		<input type="text" name="subject" placeholder="{{(viewmode=='thread') ? 'Reply topic' : 'Thread topic'}}" style="width: 50%;" maxlength="100" autocomplete="off" ng-model="post_form.subject" ngRequired="viewmode!='thread'"><input type="text" name="name" placeholder="Username" maxlength="35" autocomplete="off" style="width: 50%;" ng-model="post_form.name" ng-init="post_form.name=cookie_form.name">
		<br>

		<textarea name="body" id="body"  rows="7" cols="50" width="100%" maxlength="5000" ng-model="post_form.body" placeholder="Post body" required></textarea>
		<br>

		<!--
		<input id="spoiler" name="spoiler" type="checkbox">
		<label for="spoiler">Spoiler Image</label>
		-->
		<div ng-repeat="media in post_form.files track by $index">
			<input type="url" id="file" name="file" placeholder="Media URL" style="width: 100%;" size="44" ng-model="post_form.files[$index]"/>
		</div>
		<!--

		<input type="url" name="input" id="upload_file" ng-model="post.file.1" required ng-if="viewmode!='thread'">
		<input type="url" name="input" id="upload_file" ng-model="post.file.[0]" ng-if="viewmode=='thread'">

		<input type="file" name="file" id="upload_file">
		<a href="#" class="add_image">+</a>
		-->

			<!--
		<tr>
			<th>Password
				<input type="text" style="display: none">
				<input type="password" style="display: none"></th><td><input type="password" name="password" value="" size="12" maxlength="18" autocomplete="off"> <span class="unimportant">(For file deletion.)</span>
			</td>
		</tr>
			-->
		<!--
		<input type="hidden" name="hash" value="7ce6ace4dad906413c989282f3eb99cc64e4bb2e">
		-->
		<div style="bottom: 0px; position: fixed;" class="text-center">
			<button type="submit" ng-disabled="(post_form.$invalid || post_form.sending)" ng-hide="post_form.nodehidden">Create New {{(viewmode=='thread') ? 'Reply' : 'Thread'}}</button>
			<button type="button" ng-disabled="(post_form.files.length >= 5 || post_form.sending)" ng-hide="post_form.nodehidden" ng-click="post_form.files.push('')">Add Media Link</button>
			<button type="button" ng-if="post_form.files.length != 1" ng-disabled="post_form.sending" ng-hide="post_form.nodehidden" ng-click="post_form.files.pop()">Remove Last Media Link</button>
		</div>
	</form>
	<i ng-class="'hide-link clickable icon '+(post_form.nodehidden ? 'ion-plus-circled' : 'ion-minus-circled')" style="right: 20px; bottom: 0px; position: fixed;" ng-click="post_form.nodehidden = !post_form.nodehidden"></i>
</div>
