
<div>

	<nodechan-header></nodechan-header>

	<reply-form ng-hide="viewmode!='board'"></reply-form>

	<div ng-hide="page_jquery.d!='true'">
		<p>archived is {{archived}}, viewmode is {{viewmode}}, curpath is {{curpath}}</p>
		<p>expandall is {{expandall}}</p>
		<p>{{page_location}}</p>
		<p>{{live_host}}</p>
		<p>{{page_host}}</p>
		<p id="jquer">{{page_jquery}}</p>
		<p>{{page_hash}}</p>
		<p>{{viewmode}}</p>
	</div>

</div>


<!-- Viewmode if we're browsing a single thread -->
<div class="thread" ng-init="thread = threads[0]">
	<!-- TODO::^Riskyyyyyy -->
	<a id="{{thread.op._id}}" class="post_anchor"></a>
	<post-op></post-op>
	
	<post-reply ng-if="thread.posts != []" ng-repeat="post in thread.posts"></post-reply>

	<hr>
	<reply-form></reply-form>
</div>


