
<div class="file" ng-if="file != ''" ng-init="expandme=false">
	<!--
	Someday, add multifile support:
	ng-class="(op_post ? ((thread.op.files.length>1) ? 'multifile' : '') : ((files.length>1) ? 'multifile' : '') )"
	-->
	<div class="fileinfo">
		<!-- 
			TODO:dtad: when I allow uploading images directly to the channel, probably never
			TODO:dtad: multifile media doesn't render correctly

			<a ng-href="{{file}}">todo: filenname</a>
			<span class="unimportant">(TODO: filesize, todo: dimensions, 20:11, <a download="the_jews_did_this.gif" ng-href="{{file.link}}" title="Save as original filename">todo: original filename</a>)

			<a ng-href="{{file}}">1416603908353.gif</a>
			<span class="unimportant">(609.17 KB, 500x275, 20:11, <a download="the_jews_did_this.gif" href="https://media.8chan.co/{{board_id}}/src/1416603908353.gif" title="Save as original filename">the_jews_did_this.gif</a>)
		-->
	</div>
	<!--
	This break fixes things for a single posted image
	-->

	<div ng-model="thisfile.class" class="clickable" ng-click="(file_meta.embed_hide ? file_meta.embed_hide=false : (expandme=!expandme))">
		<span ng-hide="true">{{thisfile.class = (expand_all || this_thread.expand_all || expandme ? 'full-image' : (op_post ? 'op-image' : 'post-image'))}}</span>
		{{file_meta.embed_hide}}

		<img ng-if='!file_meta.embed' ng-src="{{file}}" ng-class="thisfile.class"></img>

			<img ng-if="file_meta.embed && file_meta.embed_hide" ng-class="board_id+' thread-image '+thisfile.class" ng-src="{{parse_youtube_preview(file)}}"></img>
			<iframe ng-if="file_meta.embed" ng-hide="file_meta.embed_hide" class="{{board_id+' '+(op_post ? 'op-embed' : 'post-image')}}" ng-src="{{file_meta.link}}" style="{{op-post ? 'height: 300px;' : ' '}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<!--
	<a href="{{file}}" target="_blank"  ng-model="thisfile.class"><img ng-src="{{file}}" ng-class="thisfile.class" ng-click="expandme=!expandme"><span ng-hide="true">{{thisfile.class = (expand_all ? 'full-image' : (expandme ? 'full-image' : (op_post ? 'op-image' : 'post-image')))}}</span></img></a>
	-->

</div>
