
<div class="file" ng-if="file != ''" ng-init="expandme=false">
	<!--
	Someday, add multifile support:
	ng-class="(op_post ? ((thread.op.files.length>1) ? 'multifile' : '') : ((files.length>1) ? 'multifile' : '') )"
	-->
	<p class="fileinfo">
	<a class="hide-link" ng-click="thisfile.nodehidden = !thisfile.nodehidden">{{thisfile.nodehidden ? "Show" : "Hide"}} image</a>
	<span ng-init="thisfile={'nodehidden':false, 'class':'post-image'}">File link:
		<a ng-href="{{file}}">Download</a>
		</span>
	</span>
	<!-- 
		TODO:dtad: when I allow uploading images directly to the channel, probably never
		TODO:dtad: multifile media doesn't render correctly

		<a ng-href="{{file}}">todo: filenname</a>
		<span class="unimportant">(TODO: filesize, todo: dimensions, 20:11, <a download="the_jews_did_this.gif" ng-href="{{file.link}}" title="Save as original filename">todo: original filename</a>)

		<a ng-href="{{file}}">1416603908353.gif</a>
		<span class="unimportant">(609.17 KB, 500x275, 20:11, <a download="the_jews_did_this.gif" href="https://media.8chan.co/{{board_id}}/src/1416603908353.gif" title="Save as original filename">the_jews_did_this.gif</a>)
	-->
	</p>
	<br>
	<!--
	This break fixes things for a single posted image
	-->
	<a target="_blank" ng-hide="thisfile.nodehidden" ng-model="thisfile.class"><img ng-src="{{file}}" ng-class="thisfile.class" ng-click="expandme=!expandme"><span ng-hide="true">{{thisfile.class = (expandall ? 'full-image' : (expandme ? 'full-image' : (op_post ? 'op-image' : 'post-image')))}}</span></img></a>
	<!--
	<a href="{{file}}" target="_blank" ng-hide="thisfile.nodehidden" ng-model="thisfile.class"><img ng-src="{{file}}" ng-class="thisfile.class" ng-click="expandme=!expandme"><span ng-hide="true">{{thisfile.class = (expandall ? 'full-image' : (expandme ? 'full-image' : (op_post ? 'op-image' : 'post-image')))}}</span></img></a>
	-->

</div>
